.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.square {
    background-color: #ffa07a;
    width: 400px;
    height: 200px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 2px 2px 2px gray;
    transition: background-color 0.6s ease-in-out;
    margin: 20px;
}

.square:hover {
    background-color: #fcfbfb;
}

.square h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0a0a0a;
    text-shadow: 1px 1px 1px #fff;
    text-align: center;
}

.square p {
    font-size: 18px;
    margin-bottom: 0;
    text-align: center;
}

